<nav class="header-container">
  <div class="inner-container header-inner">
    <div class="header-left">
      <a href="#" class="ft-mont ft-semibold header-menu">About</a>
      <a href="#" class="ft-mont ft-semibold header-menu">Work</a>
      <a href="#" class="ft-mont ft-semibold header-menu">News</a>
      <a href="#" class="ft-mont ft-semibold header-menu">Contact</a>
      <a href="#" class="ft-mont ft-semibold header-menu">FAQ</a>
    </div>
    <img src="../resource/media/header-logo-orange.png" alt class="header-logo">
    <div class="header-right">
      <a href="#" class="ft-mont ft-semibold header-menu">Blog</a>
      <img src="../resource/media/brochure.png" alt>
    </div>
  </div>
</nav>